*{
  font-family: 'Poppins',sans-serif;
}
.logo1{
  width: 86px;
  height: 86px;
}
.logo2{
  width: 151px;
  height: 48px;
}
.active{
  border-bottom: 3px solid #1A9E75;
  color:#1A9E75;
  margin:0 10px; 
  font-size: 20px; 
  font-weight: 500; 
  padding-bottom: 3px;
  cursor: pointer;
}
.activeList{
  color:#1A9E75;
  margin-left:20px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border-left: 4px solid #1A9E75;
  padding-left: 15px;

}
.drawerList{
  font-size: 20px;
  margin-left: 10px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s;
  padding-left: 15px;

}
.drawerList:hover{
  color:#1A9E75;
  margin-left:20px; 
  padding-left: 15px;
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.listName{
  margin:0 10px; 
  font-size: 20px; 
  font-weight: 500; 
  color: #202020;
  padding-bottom: 3px;
  cursor: pointer;
}
.listName:hover{
  border-bottom: 3px solid #1A9E75;
  color:#1A9E75;
}
.menuIcon{
  display:none;
}

@media screen and (max-width:586px) {
  .logo1{
    width: 56px;
    height: 56px;
  }
  .logo2{
    width: 131px;
    height: 38px;
  }
  
}
@media screen and (max-width:1155px) {
  .menuIcon{
    display:block;
  }
}

